.accordion-item {
  margin: 25px 0;
  background: #f8f8f8;
  border: 1px solid #fff;
  border-radius: 20px !important;
  overflow: hidden;
}
.p_select {
  width: fit-content;
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
  margin: 0;
  padding: 10px;
}
.p_select p {
  font-weight: 800;
  font-size: 16px;
  margin: 0;
}
.p_select:hover {
  background-color: #ffe5df;
  border: 1.5px orange solid;
}
.p_select_active {
  background-color: #ffe5df;
  border: 1.5px orange solid;
}
.header_Accord {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 25px;
  background: #fff;
  width: 100%;
  color: #45495e;
  font-size: 20px;
  font-weight: bolder;
  cursor: auto;
  position: relative;
}

.header_Accord > span {
  width: 45px;
  background: aliceblue;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  background: #45495e;
  position: relative;
  overflow: hidden;
}

.header_Accord:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header_Accord:not(.collapsed) {
  color: var(--main);
}

.header_Accord:not(.collapsed) > span {
  background: var(--main);
}

.accordion-body {
  padding: 20px 30px;
}

.all_upload_Image {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.the_img_upo {
  width: 160px;
  height: 160px;
  border: 1px solid #eee;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.the_img_upo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.the_img_upo label {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #c0c0c0d6;
  padding: 6px 0;
  margin: 0;
}

.input-group-text {
  border-radius: 0 50px 50px 0 !important;
  background: #fff;
  padding: 5px 20px;
  border-inline-end: 0;
}

.input-group .form-control {
  border-radius: 50px 0 0 50px !important;
}

.box-Bouquet {
  background: #fff;
  border-radius: 15px;
  border: 1px solid #eee;
  margin: 12px 0;
  position: relative;
}

.box-Bouquet .head {
  background: #45495e;
  border-radius: 15px 15px 0 0;
  padding: 23px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #fff;
  font-size: 18px;
}

.box-Bouquet .head2 {
  background: #45495e;
  border-radius: 15px 15px 0 0;
  padding: 17px 20px 23px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.box-Bouquet .info {
  color: #45495e;
  font-weight: 600;
  padding: 10px 15px;
}

.box-Bouquet .info li {
  position: relative;
  font-size: 18px;
  font-weight: normal;
  padding-inline-end: 50px;
  width: 100%;
}

.box-Bouquet .info li > svg {
  color: var(--main);
  position: absolute;
  right: -20px;
  top: 2px;
}

.box-Bouquet-gold .head {
  background: var(--main);
}
.box-Bouquet-gold .head2 {
  background: var(--main);
}
.box-Bouquet-gold ul {
  background-color: #fff1ee;
}
.selectedIcon {
  border-radius: 50%;
  padding: 5px;
  background-color: orange;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  z-index: 99999999999;
}
.box-Bouquet .Tinf {
  background: #45495e;
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  padding: 7px 30px;
  border-radius: 50px;
  display: none;
  z-index: 5;
}

.box-Bouquet-gold .Tinf {
  display: block;
}

.box-Bouquet .pord {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 1px solid transparent;
  z-index: 2;
}

.box-Bouquet input[type="radio"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  cursor: pointer;
  opacity: 0;
}

.box-Bouquet .check {
  position: absolute;
  z-index: 8;
  top: -9px;
  right: -3px;
  font-size: 18px;
  color: var(--main);
  background: #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.box-Bouquet input[type="radio"]:checked + .check {
  display: flex;
}
.box-Bouquet input[type="radio"]:checked ~ .pord {
  border-color: var(--main);
}
.activePack {
  border-color: green;
}
.box-product {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--main);
  direction: ltr;
  text-align: start;
  background: #fff;
}

.box-product .imge {
  position: relative;
  height: 210px;
}

.box-product .imge img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-product .info {
  padding: 10px 15px;
}

.box-product .two_btn_ {
  position: absolute;
  bottom: 12px;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box-product .two_btn_ .btn_ {
  color: #fff;
  padding: 5px 15px;
  border-radius: 50px;
  background: #45495e;
}

.box-product .two_btn_ .btn_:first-child {
  background: var(--main);
}

.box-product .time {
  display: flex;
  padding: 8px;
  gap: 7px;
  position: absolute;
  left: 0;
  top: 10px;
  background: #fff;
  border-radius: 0 10px 10px 0;
  font-size: 11px;
}

.box-product .time span {
  display: inline-flex;
  font-size: 13px;
  width: 30px;
  height: 30px;
  background: #f9f9f9;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.box-product .btn-star {
  width: 40px;
  height: 40px;
  background: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  font-size: 20px;
}

.box-product2 {
  transform: scale(0.8);
}
/* VideoUrl styles */
.container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.urlInputContainer {
  display: flex;
  margin-bottom: 10px;
}

.urlInput {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 5px;
  max-width: 500px;
  border-radius: 20px;
}

.button {
  padding: 8px 12px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 5px;
}

.button:hover {
  background-color: #f0f0f0;
}
